$gray-medium-light: #eaeaea;
$gray-second: #bbb;
$gray-lighter: #777;
$gray-darker: #222;
$gray: #555;
$white: white;
$white-medium: #e8e8e8;
$solid-white-2: #DDD;
$solid-white-3: #ddd;
$black: black;
$red: red;
